* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background: #fff;
  color: #000;
  line-height: 1.6;
  cursor: none;
}

h1, h2, h3 {
  font-weight: 600;
}

body,
a,
button,
input,
label,
.project-image,
.project-labels,
.preset-questions span {
  cursor: none !important;
}