.projects.play {
  margin-top: 100px;
  column-count: 4;
  column-gap: 0.5rem;
  padding: 2rem;
}

@media (max-width: 768px) {
  .projects.play {
    column-count: 1;
  }
}

.projects.play .project-image img,
.projects.play .project-image video {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.projects.play .project:hover img,
.projects.play .project:hover video {
  transform: translateY(0) scale(1.05);
}