.projects.play {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

body[data-page="play"] main > section {
  margin-left: 2rem;
  margin-right: 2rem;
}

.projects.play .grid-sizer,
.projects.play .project {
  width: calc(25% - 8px);
  /* 四列 */
}

@media (max-width: 768px) {

  .projects.play .grid-sizer,
  .projects.play .project {
    width: 100%;
  }

  body[data-page="play"] main > section {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
