.projects.play {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 2rem;
  margin-right: 1.5rem;
  box-sizing: border-box;
}

.projects.play .grid-sizer,
.projects.play .project {
  width: calc(25% - 8px);
  /* 四列 */
}

@media (max-width: 768px) {

  .projects.play .grid-sizer,
  .projects.play .project {
    width: 100%;
  }
}